body{
	background-color: black;
	color: cornflowerblue;
}


/* A bit of demo styles */;
/* .swiper-container {
	height: 100%;
  }
  .swiper-slide {
	background:#fff;
  }
  .swiper-slide span {
	text-align:center;
	display:block;
	margin:20px;
	font-size:21px;
  } */

  
/* 
  .swiper-container {
    width: 600px;
    height: 300px;
}
 */
